<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Articles Page</h1>
    <hr/>

    <div style="background: orange;
    color:black;
        padding: 10px;
        border-radius: 10px;"
        >
<!--         
        <% allArticles.forEach(article => { %>
            <h2> <%= article.title %> </h2>
            <p> <%= article.body %> </p>
            <br/>
        <% }) %> -->

        <% for (let article of allArticles) { %>
            <h2> <%= article.title %> </h2>
            <p> <%= article.body %> </p>
            <br/>
        <% } %>

    </div>
</body>
</html>